/*Style for index.html page*/
@import "{{ site.theme}}";

body{
	background-color: #111213ff;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
} 

h1{
	background-color: #212224ff;
	margin:0;
}

p{
	color: #eaebed;
	font-size: xx-large;
}

#nav_bar{
	list-style: none;
	overflow:hidden;
	margin: 0;
	padding: 0;
}

#nav_bar li{
	display: inline;
	text-align: center;
	padding-right: 30px;
}
li a{
	text-decoration: none;
	color:#eaebed;
}

#nav_bar a:hover{
	background-color: #29b9f0ff;

}

