/*Style for index.html page*/
@import "{{ site.theme}}";

/* Variables */
:root {
	--text-color: #eaebed;
	--accent-color: #212224ff;
	--main-color: #111213ff;
	--hover-color:#29b9f0ff;
}

body{
	background-color: var(--main-color);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
} 

h1{
	background-color: var(--accent-color);
	margin:0;
	padding-top: 1px;
	padding-bottom: 1px;
}

#nav_bar{
	list-style: none;
	overflow:hidden;
	margin: 10px;
	padding: 0;

}

#nav_bar li{
	display: inline;
	text-align: center;
	padding-right: 30px;
}
li a{
	text-decoration: none;
	color:var(--text-color);
	font-size: 28px;
}

#nav_bar a:hover{
	background-color: var(--hover-color);
}

h2{
	color: var(--text-color);
	font-size: x-large;
	margin: 10px;
	font-weight: lighter;
}